__pycache__
*.ckpt
*.safetensors
*.pth
/ESRGAN/*
/SwinIR/*
/repositories
/venv
/tmp
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/embeddings
/styles.csv
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/extensions
/test/stdout.txt
/test/stderr.txt
/cache.json
/.vs/VSWorkspaceState.json
/.vs/stable-diffusion-webui/v17/.wsuo
/.vs/stable-diffusion-webui/FileContentIndex/read.lock
/.vs/stable-diffusion-webui/FileContentIndex/1e9891a6-abdb-4a1d-ad25-38b4e6ce33e8.vsidx
/.vs/slnx.sqlite
/.vs/stable-diffusion-webui/FileContentIndex/1e224288-2ca3-4fcb-8ddc-72391afd5583.vsidx
/.vs/stable-diffusion-webui/FileContentIndex/5fcc4d43-9964-4c6a-be75-6bdfe3f462ba.vsidx
/.vs/stable-diffusion-webui/FileContentIndex/4074de23-f42e-4e6f-a746-7b55adeae910.vsidx
